<ul class="nav-part nav-part-I">
    <li>
        <img src="https://cmsstatic.dataoke.com//wap_new/user/images/icon/wode_icon_like.svg" alt="">
        <p>我的收藏</p>
        <i class="yo-ico ico-arrow-r">&#xe70b;</i>
    </li>
    <li>
        <img src="https://cmsstatic.dataoke.com//wap_new/user/images/icon/wode_icon_history.svg" alt="">
        <p>浏览记录</p>
        <i class="yo-ico ico-arrow-r">&#xe70b;</i>
    </li>
</ul>

<ul class="nav-part nav-part-II">
    <li>
        <img src="https://cmsstatic.dataoke.com//wap_new/user/images/icon/wode_icon_feedback.svg" alt="">
        <p>意见反馈</p>
        <i class="yo-ico ico-arrow-r">&#xe70b;</i>
    </li>
    <li>
        <img src="https://cmsstatic.dataoke.com//wap_new/user/images/icon/wode_icon_servicer.svg" alt="">
        <p>联系客服</p>
        <i class="yo-ico ico-arrow-r">&#xe70b;</i>
    </li>
    <li>
        <img src="https://cmsstatic.dataoke.com//wap_new/user/images/icon/wode_icon_help.svg" alt="">
        <p>领券帮助</p>
        <i class="yo-ico ico-arrow-r">&#xe70b;</i>
    </li>
</ul>