<ul class="tabbar">
    <li class="active">
        <a href="#/index/home/page">
            <i class="yo-ico">&#xe882;</i>
            <span>首页</span>
        </a>
    </li>
    <li>
        <a href="#/index/home/nine">
            <i class="yo-ico">&#xe6e3;</i>
            <span>9.9包邮</span>
        </a>
    </li>
    <li>
        <a href="#/index/top/rank">
            <i class="yo-ico ico-top"></i>
            <span>TOP榜</span>
        </a>
    </li>
    <li>
        <a href="#/index/home/class">
            <i class="yo-ico">&#xe696;</i>
            <span>分类</span>
        </a>
    </li>
    <li>
        <a href="#/index/home/me">
            <i class="yo-ico">&#xe70b;</i>
            <span>我的</span>
        </a>
    </li>

</ul>