<!-- nav start -->
<div class="nav">
    <div class="ant">
        <a href="#">精选</a>
    </div>

    <div class="item-list">
        <ul>
            <li><a href="#">女装</a></li>
            <li><a href="#">美食</a></li>
            <li><a href="#">男装</a></li>
            <li><a href="#">美妆</a></li>
            <li><a href="#">居家日用</a></li>
            <li><a href="#">鞋品</a></li>
            <li><a href="#">数码家电</a></li>
            <li><a href="#">母婴</a></li>
            <li><a href="#">内衣</a></li>
            <li><a href="#">箱包</a></li>
            <li><a href="#">配饰</a></li>
            <li><a href="#">文娱车品</a></li>
            <li><a href="#">家装家纺</a></li>
            <li><a href="#">户外运动</a></li>
        </ul>
    </div>

    <div class="whole">
        <i class="yo-ico">&#xe70b;</i>
    </div>
</div>
<!-- nav end -->

<!-- banner start -->
<div class="swiper-container banner">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img
                src="https://img.alicdn.com/imgextra/i3/2053469401/O1CN01ZfENvL2JJhwwm2jY3_!!2053469401.jpg" alt="">
        </div>
        <div class="swiper-slide"><img
                src="https://img.alicdn.com/imgextra/i3/2053469401/O1CN01zFMpzl2JJhwtIMjlK_!!2053469401.jpg" alt="">
        </div>
        <div class="swiper-slide"><img
                src="https://img.alicdn.com/imgextra/i2/2053469401/O1CN01v4TmdJ2JJhwswfxnb_!!2053469401.jpg" alt="">
        </div>
        <div class="swiper-slide"><img
                src="https://img.alicdn.com/imgextra/i4/2053469401/O1CN016kmjEZ2JJhww8faIS_!!2053469401.jpg" alt="">
        </div>
        <div class="swiper-slide"><img
                src="https://img.alicdn.com/imgextra/i4/2508158775/O1CN01nyKqzn2Eh00ozJkQU_!!2508158775.jpg" alt="">
        </div>
    </div>
</div>
<!-- banner end -->

<!-- ad start -->
<div class="ad">
    <img src="https://img.alicdn.com/imgextra/i1/2053469401/O1CN01MoYXFU2JJhwvXqazf_!!2053469401.gif" alt="">
</div>
<!-- ad end -->

<!-- home-nav start -->
<div class="home-nav">
    <ul>
        <li>
            <img src="https://img.alicdn.com/imgextra/i3/2053469401/O1CN01XDW9RX2JJhwt784iR_!!2053469401.png" alt="">
            <span>9.9包邮</span>
        </li>
        <li>
            <img src="https://img.alicdn.com/imgextra/i2/2053469401/O1CN01F4AaVM2JJhwrpL4JG_!!2053469401.png" alt="">
            <span>6.18精选</span>
        </li>
        <li>
            <img src="https://img.alicdn.com/imgextra/i4/2053469401/O1CN01U4OLlV2JJhwrYMPGB_!!2053469401.png" alt="">
            <span>疯狂排行</span>
        </li>
        <li>
            <img src="https://img.alicdn.com/imgextra/i3/2053469401/O1CN01kVuCzQ2JJhwqIhmx7_!!2053469401.png" alt="">
            <span>咚咚抢</span>
        </li>
    </ul>
</div>
<!-- home-nav end -->

<!-- everybody-get start -->
<div class="everbody-get">
    <div class="title">
        <span>大家都在领</span>
        <b><i>2942764</i>次实时领券</b>
    </div>
    <div class="con">
        <ul>
            <li>
                <a href="#">
                    <img src="https://img.alicdn.com/imgextra/i3/3034588402/O1CN01kUBxxa2BwAHKGamQd_!!2-item_pic.png_310x310.jpg_.webp"
                        alt="">
                    <p class="to cnt">3.8万人已领取<i>|</i>10元券</p>
                    <p class="to name">老先生 海鸭蛋蛋黄酥1盒6枚装</p>
                    <p class="price">
                        <span class="af">9.9</span>
                        <i class="bf">19.9</i>
                    </p>
                    <p class="progress">
                        <i></i>
                    </p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="https://img.alicdn.com/imgextra/i3/3034588402/O1CN01kUBxxa2BwAHKGamQd_!!2-item_pic.png_310x310.jpg_.webp"
                        alt="">
                    <p class="to cnt">3.8万人已领取<i>|</i>10元券</p>
                    <p class="to name">老先生 海鸭蛋蛋黄酥1盒6枚装</p>
                    <p class="price">
                        <span class="af">9.9</span>
                        <i class="bf">19.9</i>
                    </p>
                    <p class="progress">
                        <i></i>
                    </p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="https://img.alicdn.com/imgextra/i3/3034588402/O1CN01kUBxxa2BwAHKGamQd_!!2-item_pic.png_310x310.jpg_.webp"
                        alt="">
                    <p class="to cnt">3.8万人已领取<i>|</i>10元券</p>
                    <p class="to name">老先生 海鸭蛋蛋黄酥1盒6枚装</p>
                    <p class="price">
                        <span class="af">9.9</span>
                        <i class="bf">19.9</i>
                    </p>
                    <p class="progress">
                        <i></i>
                    </p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="https://img.alicdn.com/imgextra/i3/3034588402/O1CN01kUBxxa2BwAHKGamQd_!!2-item_pic.png_310x310.jpg_.webp"
                        alt="">
                    <p class="to cnt">3.8万人已领取<i>|</i>10元券</p>
                    <p class="to name">老先生 海鸭蛋蛋黄酥1盒6枚装</p>
                    <p class="price">
                        <span class="af">9.9</span>
                        <i class="bf">19.9</i>
                    </p>
                    <p class="progress">
                        <i></i>
                    </p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="https://img.alicdn.com/imgextra/i3/3034588402/O1CN01kUBxxa2BwAHKGamQd_!!2-item_pic.png_310x310.jpg_.webp"
                        alt="">
                    <p class="to cnt">3.8万人已领取<i>|</i>10元券</p>
                    <p class="to name">老先生 海鸭蛋蛋黄酥1盒6枚装</p>
                    <p class="price">
                        <span class="af">9.9</span>
                        <i class="bf">19.9</i>
                    </p>
                    <p class="progress">
                        <i></i>
                    </p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="https://img.alicdn.com/imgextra/i3/3034588402/O1CN01kUBxxa2BwAHKGamQd_!!2-item_pic.png_310x310.jpg_.webp"
                        alt="">
                    <p class="to cnt">3.8万人已领取<i>|</i>10元券</p>
                    <p class="to name">老先生 海鸭蛋蛋黄酥1盒6枚装</p>
                    <p class="price">
                        <span class="af">9.9</span>
                        <i class="bf">19.9</i>
                    </p>
                    <p class="progress">
                        <i></i>
                    </p>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- everybody-get end -->


<!-- them-ad start -->
<div class="them-ad">
    <div class="ad">
        <img src="https://img.alicdn.com/imgextra/i3/2053469401/O1CN012JJhsOSj1MyALJl-2053469401.jpg">
        <div class="nr">
            <h3 class="bt" style="color: rgb(51, 51, 51);
            ">百年护肤-妮维雅</h3>
            <p class="text" style="color: rgb(51, 51, 51);
            ">给肌肤最温和的呵护</p>
        </div>
    </div>

    <div class="goods">
        <div class="good">
            <img src="https://img.alicdn.com/imgextra/i1/2522673616/O1CN01jvrDHf1caAh5IQhnL_!!2522673616.jpg_310x310.jpg_.webp"
                alt="">
            <h3 class="to">妮维雅男士剃须泡沫啫喱凝胶</h3>
            <p class="price">
                <span class="af">9.9</span>
                <i class="bf">19.9</i>
            </p>
        </div>
        <div class="good">
            <img src="https://img.alicdn.com/imgextra/i1/2522673616/O1CN01jvrDHf1caAh5IQhnL_!!2522673616.jpg_310x310.jpg_.webp"
                alt="">
            <h3 class="to">妮维雅男士剃须泡沫啫喱凝胶</h3>
            <p class="price">
                <span class="af">9.9</span>
                <i class="bf">19.9</i>
            </p>
        </div>
        <div class="good">
            <img src="https://img.alicdn.com/imgextra/i1/2522673616/O1CN01jvrDHf1caAh5IQhnL_!!2522673616.jpg_310x310.jpg_.webp"
                alt="">
            <h3 class="to">妮维雅男士剃须泡沫啫喱凝胶</h3>
            <p class="price">
                <span class="af">9.9</span>
                <i class="bf">19.9</i>
            </p>
        </div>
    </div>
</div>
<!-- them-ad end -->


<!-- 商品列表 start -->
<div class="good-list">
    <div class="title">
        <span>领券直播</span>
        <b>今日已为用户省钱 <i>298,635,496</i>元</b>
    </div>
    <ul>
        <li>
            <img src="https://img.alicdn.com/imgextra/i3/725677994/O1CN0128vIcFXg5I7fJto_!!725677994.jpg_310x310.jpg_.webp" alt="">
            <div class="good-info">
                <h3><i></i>红小厨湖北麻辣十三香小龙虾3.6斤</h3>
                <div class="price">
                    <p class="tmall-price">
                        <span>天猫价 ¥64.9</span>
                        <span>已售19.1万件</span>
                    </p>
                    <p class="col-price">
                        <span>
                            卷后价
                            <i>¥</i><em>64.9</em>
                        </span>
                        <span>
                            <i>5元券</i>
                        </span>
                    </p>
                </div>
            </div>
        </li>
        <li>
            <img src="https://img.alicdn.com/imgextra/i3/725677994/O1CN0128vIcFXg5I7fJto_!!725677994.jpg_310x310.jpg_.webp" alt="">
            <div class="good-info">
                <h3><i></i>红小厨湖北麻辣十三香小龙虾3.6斤</h3>
                <div class="price">
                    <p class="tmall-price">
                        <span>天猫价 ¥64.9</span>
                        <span>已售19.1万件</span>
                    </p>
                    <p class="col-price">
                        <span>
                            卷后价
                            <i>¥</i><em>64.9</em>
                        </span>
                        <span>
                            <i>5元券</i>
                        </span>
                    </p>
                </div>
            </div>
        </li>
        <li>
            <img src="https://img.alicdn.com/imgextra/i3/725677994/O1CN0128vIcFXg5I7fJto_!!725677994.jpg_310x310.jpg_.webp" alt="">
            <div class="good-info">
                <h3><i></i>红小厨湖北麻辣十三香小龙虾3.6斤</h3>
                <div class="price">
                    <p class="tmall-price">
                        <span>天猫价 ¥64.9</span>
                        <span>已售19.1万件</span>
                    </p>
                    <p class="col-price">
                        <span>
                            卷后价
                            <i>¥</i><em>64.9</em>
                        </span>
                        <span>
                            <i>5元券</i>
                        </span>
                    </p>
                </div>
            </div>
        </li>
        <li>
            <img src="https://img.alicdn.com/imgextra/i3/725677994/O1CN0128vIcFXg5I7fJto_!!725677994.jpg_310x310.jpg_.webp" alt="">
            <div class="good-info">
                <h3><i></i>红小厨湖北麻辣十三香小龙虾3.6斤</h3>
                <div class="price">
                    <p class="tmall-price">
                        <span>天猫价 ¥64.9</span>
                        <span>已售19.1万件</span>
                    </p>
                    <p class="col-price">
                        <span>
                            卷后价
                            <i>¥</i><em>64.9</em>
                        </span>
                        <span>
                            <i>5元券</i>
                        </span>
                    </p>
                </div>
            </div>
        </li>
        <li>
            <img src="https://img.alicdn.com/imgextra/i3/725677994/O1CN0128vIcFXg5I7fJto_!!725677994.jpg_310x310.jpg_.webp" alt="">
            <div class="good-info">
                <h3><i></i>红小厨湖北麻辣十三香小龙虾3.6斤</h3>
                <div class="price">
                    <p class="tmall-price">
                        <span>天猫价 ¥64.9</span>
                        <span>已售19.1万件</span>
                    </p>
                    <p class="col-price">
                        <span>
                            卷后价
                            <i>¥</i><em>64.9</em>
                        </span>
                        <span>
                            <i>5元券</i>
                        </span>
                    </p>
                </div>
            </div>
        </li>
        <li>
            <img src="https://img.alicdn.com/imgextra/i3/725677994/O1CN0128vIcFXg5I7fJto_!!725677994.jpg_310x310.jpg_.webp" alt="">
            <div class="good-info">
                <h3><i></i>红小厨湖北麻辣十三香小龙虾3.6斤</h3>
                <div class="price">
                    <p class="tmall-price">
                        <span>天猫价 ¥64.9</span>
                        <span>已售19.1万件</span>
                    </p>
                    <p class="col-price">
                        <span>
                            卷后价
                            <i>¥</i><em>64.9</em>
                        </span>
                        <span>
                            <i>5元券</i>
                        </span>
                    </p>
                </div>
            </div>
        </li>
        <li>
            <img src="https://img.alicdn.com/imgextra/i3/725677994/O1CN0128vIcFXg5I7fJto_!!725677994.jpg_310x310.jpg_.webp" alt="">
            <div class="good-info">
                <h3><i></i>红小厨湖北麻辣十三香小龙虾3.6斤</h3>
                <div class="price">
                    <p class="tmall-price">
                        <span>天猫价 ¥64.9</span>
                        <span>已售19.1万件</span>
                    </p>
                    <p class="col-price">
                        <span>
                            卷后价
                            <i>¥</i><em>64.9</em>
                        </span>
                        <span>
                            <i>5元券</i>
                        </span>
                    </p>
                </div>
            </div>
        </li>
        <li>
            <img src="https://img.alicdn.com/imgextra/i3/725677994/O1CN0128vIcFXg5I7fJto_!!725677994.jpg_310x310.jpg_.webp" alt="">
            <div class="good-info">
                <h3><i></i>红小厨湖北麻辣十三香小龙虾3.6斤</h3>
                <div class="price">
                    <p class="tmall-price">
                        <span>天猫价 ¥64.9</span>
                        <span>已售19.1万件</span>
                    </p>
                    <p class="col-price">
                        <span>
                            卷后价
                            <i>¥</i><em>64.9</em>
                        </span>
                        <span>
                            <i>5元券</i>
                        </span>
                    </p>
                </div>
            </div>
        </li>
        <li>
            <img src="https://img.alicdn.com/imgextra/i3/725677994/O1CN0128vIcFXg5I7fJto_!!725677994.jpg_310x310.jpg_.webp" alt="">
            <div class="good-info">
                <h3><i></i>红小厨湖北麻辣十三香小龙虾3.6斤</h3>
                <div class="price">
                    <p class="tmall-price">
                        <span>天猫价 ¥64.9</span>
                        <span>已售19.1万件</span>
                    </p>
                    <p class="col-price">
                        <span>
                            卷后价
                            <i>¥</i><em>64.9</em>
                        </span>
                        <span>
                            <i>5元券</i>
                        </span>
                    </p>
                </div>
            </div>
        </li>
        <li>
            <img src="https://img.alicdn.com/imgextra/i3/725677994/O1CN0128vIcFXg5I7fJto_!!725677994.jpg_310x310.jpg_.webp" alt="">
            <div class="good-info">
                <h3><i></i>红小厨湖北麻辣十三香小龙虾3.6斤</h3>
                <div class="price">
                    <p class="tmall-price">
                        <span>天猫价 ¥64.9</span>
                        <span>已售19.1万件</span>
                    </p>
                    <p class="col-price">
                        <span>
                            卷后价
                            <i>¥</i><em>64.9</em>
                        </span>
                        <span>
                            <i>5元券</i>
                        </span>
                    </p>
                </div>
            </div>
        </li>
        <li>
            <img src="https://img.alicdn.com/imgextra/i3/725677994/O1CN0128vIcFXg5I7fJto_!!725677994.jpg_310x310.jpg_.webp" alt="">
            <div class="good-info">
                <h3><i></i>红小厨湖北麻辣十三香小龙虾3.6斤</h3>
                <div class="price">
                    <p class="tmall-price">
                        <span>天猫价 ¥64.9</span>
                        <span>已售19.1万件</span>
                    </p>
                    <p class="col-price">
                        <span>
                            卷后价
                            <i>¥</i><em>64.9</em>
                        </span>
                        <span>
                            <i>5元券</i>
                        </span>
                    </p>
                </div>
            </div>
        </li>

    </ul>


</div>
<!-- 商品列表 end -->