<div class="class-side">
    <ul>
        <li class="active">女装</li>
        <li>男装</li>
        <li>美食</li>
        <li>美妆</li>
        <li>居家日用</li>
        <li>鞋品</li>
        <li>数码家电</li>
        <li>文娱车品</li>
        <li>内衣</li>
        <li>母婴</li>
        <li>箱包</li>
        <li>配饰</li>
        <li>家装家纺</li>
        <li>户外运动</li>
        <p class="bg-item"></p>
    </ul>
</div>

<div class="class-con">
    <div class="ad">
        <a href="#">
            <img src="https://img.alicdn.com/imgextra/i3/2053469401/O1CN01UnLFD62JJhwmwm2Ym_!!2053469401.jpg" alt="">
        </a>
    </div>
    <ul class="sub-class-list">
        <li>
            <a href="#">
                <img src="https://img.alicdn.com/imgextra/i1/2053469401/O1CN01qj2Uul2JJhwm730r4-2053469401.png_310x310.jpg_.webp"
                    alt="">
                T恤/短袖
            </a>
        </li>
        <li>
            <a href="#">
                <img src="https://img.alicdn.com/imgextra/i1/2053469401/O1CN01qj2Uul2JJhwm730r4-2053469401.png_310x310.jpg_.webp"
                    alt="">
                T恤/短袖
            </a>
        </li>
        <li>
            <a href="#">
                <img src="https://img.alicdn.com/imgextra/i1/2053469401/O1CN01qj2Uul2JJhwm730r4-2053469401.png_310x310.jpg_.webp"
                    alt="">
                T恤/短袖
            </a>
        </li>
        <li>
            <a href="#">
                <img src="https://img.alicdn.com/imgextra/i1/2053469401/O1CN01qj2Uul2JJhwm730r4-2053469401.png_310x310.jpg_.webp"
                    alt="">
                T恤/短袖
            </a>
        </li>
        <li>
            <a href="#">
                <img src="https://img.alicdn.com/imgextra/i1/2053469401/O1CN01qj2Uul2JJhwm730r4-2053469401.png_310x310.jpg_.webp"
                    alt="">
                T恤/短袖
            </a>
        </li>
        <li>
            <a href="#">
                <img src="https://img.alicdn.com/imgextra/i1/2053469401/O1CN01qj2Uul2JJhwm730r4-2053469401.png_310x310.jpg_.webp"
                    alt="">
                T恤/短袖
            </a>
        </li>
        <li>
            <a href="#">
                <img src="https://img.alicdn.com/imgextra/i1/2053469401/O1CN01qj2Uul2JJhwm730r4-2053469401.png_310x310.jpg_.webp"
                    alt="">
                T恤/短袖
            </a>
        </li>
        <li>
            <a href="#">
                <img src="https://img.alicdn.com/imgextra/i1/2053469401/O1CN01qj2Uul2JJhwm730r4-2053469401.png_310x310.jpg_.webp"
                    alt="">
                T恤/短袖
            </a>
        </li>
        <li>
            <a href="#">
                <img src="https://img.alicdn.com/imgextra/i1/2053469401/O1CN01qj2Uul2JJhwm730r4-2053469401.png_310x310.jpg_.webp"
                    alt="">
                T恤/短袖
            </a>
        </li>
        <li>
            <a href="#">
                <img src="https://img.alicdn.com/imgextra/i1/2053469401/O1CN01qj2Uul2JJhwm730r4-2053469401.png_310x310.jpg_.webp"
                    alt="">
                T恤/短袖
            </a>
        </li>
        <li>
            <a href="#">
                <img src="https://img.alicdn.com/imgextra/i1/2053469401/O1CN01qj2Uul2JJhwm730r4-2053469401.png_310x310.jpg_.webp"
                    alt="">
                T恤/短袖
            </a>
        </li>
        <li>
            <a href="#">
                <img src="https://img.alicdn.com/imgextra/i1/2053469401/O1CN01qj2Uul2JJhwm730r4-2053469401.png_310x310.jpg_.webp"
                    alt="">
                T恤/短袖
            </a>
        </li>
        <li>
            <a href="#">
                <img src="https://img.alicdn.com/imgextra/i1/2053469401/O1CN01qj2Uul2JJhwm730r4-2053469401.png_310x310.jpg_.webp"
                    alt="">
                T恤/短袖
            </a>
        </li>
        <li>
            <a href="#">
                <img src="https://img.alicdn.com/imgextra/i1/2053469401/O1CN01qj2Uul2JJhwm730r4-2053469401.png_310x310.jpg_.webp"
                    alt="">
                T恤/短袖
            </a>
        </li>
        <li>
            <a href="#">
                <img src="https://img.alicdn.com/imgextra/i1/2053469401/O1CN01qj2Uul2JJhwm730r4-2053469401.png_310x310.jpg_.webp"
                    alt="">
                T恤/短袖
            </a>
        </li>
        <li>
            <a href="#">
                <img src="https://img.alicdn.com/imgextra/i1/2053469401/O1CN01qj2Uul2JJhwm730r4-2053469401.png_310x310.jpg_.webp"
                    alt="">
                T恤/短袖
            </a>
        </li>
        <li>
            <a href="#">
                <img src="https://img.alicdn.com/imgextra/i1/2053469401/O1CN01qj2Uul2JJhwm730r4-2053469401.png_310x310.jpg_.webp"
                    alt="">
                T恤/短袖
            </a>
        </li>
        <li>
            <a href="#">
                <img src="https://img.alicdn.com/imgextra/i1/2053469401/O1CN01qj2Uul2JJhwm730r4-2053469401.png_310x310.jpg_.webp"
                    alt="">
                T恤/短袖
            </a>
        </li>
        <li>
            <a href="#">
                <img src="https://img.alicdn.com/imgextra/i1/2053469401/O1CN01qj2Uul2JJhwm730r4-2053469401.png_310x310.jpg_.webp"
                    alt="">
                T恤/短袖
            </a>
        </li>
        <li>
            <a href="#">
                <img src="https://img.alicdn.com/imgextra/i1/2053469401/O1CN01qj2Uul2JJhwm730r4-2053469401.png_310x310.jpg_.webp"
                    alt="">
                T恤/短袖
            </a>
        </li>
    </ul>
</div>