<div class="top-ads">
    <ul>
        <li class="item-big">
            <img src="https://img.alicdn.com/imgextra/i1/2053469401/TB24BorFamWBuNjy1XaXXXCbXXa-2053469401.jpg" alt="">
            <div class="desc">
                <h3>9块9每日精选</h3>
                <p>十元封顶</p>
            </div>

        </li>
        <li class="item-small">
            <img src="https://img.alicdn.com/imgextra/i2/2053469401/O1CN01h6zuUw2JJhwuUJm8n_!!2053469401.png" alt="">
            <div class="desc">
                <h3>笔纸用品</h3>
                <p>考试必备</p>
            </div>
        </li>
        <li class="item-small">
            <img src="https://img.alicdn.com/imgextra/i2/2053469401/O1CN016k73VX2JJhwrvvBaH_!!2053469401.png" alt="">
            <div class="desc">
                <h3>方便速食</h3>
                <p>酸辣鲜爽</p>
            </div>
        </li>
        <li class="item-big">
            <img src="https://img.alicdn.com/imgextra/i4/2053469401/O1CN012JJhs4JIkJiFavo-2053469401.jpg" alt="">
            <div class="desc">
                <h3>29.9专区</h3>
                <p>半价抢不停</p>
            </div>
        </li>
        <li class="item-small">
            <img src="https://img.alicdn.com/imgextra/i4/2053469401/O1CN01EYROfr2JJhwtmb1KF_!!2053469401.png" alt="">
            <div class="desc">
                <h3>纯棉毛巾</h3>
                <p>超软舒适</p>
            </div>
        </li>
        <li class="item-small">
            <img src="https://img.alicdn.com/imgextra/i1/2053469401/O1CN01uDc5u32JJhwp6x8Qa_!!2053469401.png" alt="">
            <div class="desc">
                <h3>生活用纸</h3>
                <p>19.9元封顶</p>
            </div>
        </li>
    </ul>
</div>
